.git
.gitattributes
.gitignore
.env
.env.backup
.env.production
.editorconfig
.idea
.vscode
.nova
.zed
.claude
.mcp.json
vendor
node_modules
public/build
public/hot
storage/*.key
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
tests
phpunit.xml
README.md
